*{
	font-size:12px;
	}

	body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    font-size:13px;
    margin:0;
	}
	h2 
	{
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
	}

	.demo-info{
	background:orange;
	color:red;
	padding:12px;
	width: 51.3%;
	}
	.demo-tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
	}
	.footer{
	position: absolute;
	 top  : 350px;
	background:black;
	color:red;
	padding:12px;
	width: 676px;
	}
	.footer-text{
	position: absolute;
	height:16px;
	margin-right:8px;
	float:left;
	}
	
	
