/* 
	author: istockphp.com
*/
body { 
	font-family: sans-serif;
	font-size:13px;
	background:#545454;
	color:##545454;
}
p { 

	padding:2px 

}
#wrap { 
	width:820px; 
	padding:20px; 
	margin:20px auto;
	background:#ffffff;
	border:1px solid #90c140;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
div#wrap2 {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding:15px;
}
h2.free_account {
    color: #90c140;
    display: block;
    margin-bottom: 25px;
}
form#register_form label { 
	display:inline-block; /* with block na */
	width:125px;
	font-weight:bold;
}
form#register_form label:after { 
	content:":"
}
form#register_form input[type='text'], input[type='password'] { 
	display:inline-block; /* with block na */
	width:200px;
	border:1px solid #ccc;
	margin:0;
	padding:5px;
}
form#register_form select {
    border: 1px solid #CCCCCC;
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    width: 68px;
}
form#register_form input[name='submit'] { 
	border:1px solid #90c140;
	background:#90c140;
	border-radius: 5px;
	margin:10px;
	color:#FFF;
	padding:5px;
	font-weight:bold
}
form#register_form input[name='submit'] { 
	cursor:pointer;
}
p.validate_msg {
    border: 1px solid #90c140;
    font-weight: bold;
    padding: 10px;
	display:none;
	margin-bottom:25px
}
p.success {
	color:gray;
	border: 3px solid #90c140;
    font-weight: bold;
    padding: 10px;
	margin-bottom:25px

}
p.failed {
	color:red;
	border: 3px solid red;
    font-weight: bold;
    padding: 10px;
	margin-bottom:25px

}
span.validate  {
	color:#F00;
	padding-left:8px;
	font-style:italic;
}